body {
    margin: 0;
    box-sizing: border-box;
    background-color: #F5F5F5;
    font-family: 'Smythe', cursive;
} 

.page--container {
    width: 500px;
    margin: 0 auto;
    display: block;
    background-color: #FFFFFF;    
}

.header {
    width: 100%;
    background-image: url("./images/surf_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    background-position: 0px -20px;
}

.header-text {
    color: #FFFFFF;
}

.header--title {
    font-size: 44px;
    margin-left: 40px;
    margin-bottom: 0px;
    padding-top: 5px;
    font-weight: 100;
}

.header--subtitle {
    font-size: 22px;
    margin-left: 40px;
    margin-top: 0px;
    font-weight: 100;
}

.header_item {
    width: 100%;
}

.menu--container {
    margin: -10px 40px;
}

.menu--section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #D2D2D2;
}

.img_item {
    height: 50px;
}

.menuitem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.menuitem-desc {
    padding: 0px;
    margin: 0px 0px 10px 30px;
}

.menuitem--title {
    font-size: 24px;
    color: #000000;
    font-weight: 400;
    font-style: normal;
    margin: 20px 0px -10px 0px;
}

.menuitem--ingredients {
    font-size: 14px;
    color: #8B8B8B;
    font-weight: 200;
    font-style: normal;
}

.menuitem--price {
    font-size: 18px;
    color: #000000;
    font-weight: 400;
    font-style: normal;
    margin: -10px 0px 0px 0px;

}

.ellipse_img {
    margin-top: 40px;
    cursor: pointer;
}

.menuorder {
    display: block;
}

.menuorder-header {
    width: 100%;
    text-align: center;
    margin: -15px 0px;
}

.menuorder--title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 25px;
    
}

.menuorder-list--item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuorder-item {
    font-weight: 400;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remove {
    font-family: 'Verdana', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #BBBBBB;
    margin: 0px 5px;
    padding-top: 5px;
    cursor: pointer;
}

.menuorder-price {
    font-weight: 400;
    font-size: 20px;
}

.menuorder-item-total {
    font-weight: 400;
    font-size: 24px;
}

.menuorder-item-price {
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #393333;
    padding-top: 10px;
    margin-top: 15px;
    margin-bottom: 40px;
}

.menuorder-btn {
    text-align: center;
    
}

.complete-btn {
    margin: -20px 0px 60px 0px;
    width: 100%;
    padding: 10px 0px;
    border: none;
    background-color: #16DB99;
    color: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

.popup {
    width: 424px;
    text-align: center;
    background-color: #FFFFFF;
    margin: 0 auto;
    position: relative;
    top: -570px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: 3.88991px;
    height: 370px;
    filter: drop-shadow(7px 7px 200px rgba(0, 0, 0, 0.9));
    display: none;
}

.card-details {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    padding-top: 30px;
    margin: 10;
}

.order-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    margin: 10px 0px;
    padding: 12px 120px 12px 14px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    border: 1.29664px solid #757575;
    border-radius: 3px;
}

.pay-btn {
    margin: 0px 0px 40px 0px;
    width: 77%;
    padding: 10px 0px;
    border: none;
    background-color: #16DB99;
    color: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

.thankyou-order {
    width: 500px;
    text-align: center;
    display: none;
    margin: 0px auto;
    
}

.thankyou-box {
    background: #ECFDF5;
    border-radius: 3px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: 100%;
}

.thankyou-message {
    padding: 20px 0px;
    font-weight: 400;
    font-size: 26px;
    color: #065F46;
}

